main {
  min-height: 80vh;
}

.border-none {
  border: none;
}

.rating {
  margin-right: 0.5rem;
}

.rating i {
  margin-right: 0.2rem;
}

.text-center {
  text-align: center;
}

.cart-btn {
  width: 100%;
  margin: 20px auto 0 auto;
}

.w-100 {
  width: 100%;
}

h3 {
  margin: 0;
}

.select {
  outline: none;
}

.fl-right {
  float: right;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml {
  margin-left: -1px;
}
