main {
  min-height: 80vh;
}

.border-none {
  border: none;
}

.rating {
  margin-right: 0.5rem;
}

.rating i {
  margin-right: 0.2rem;
}

.text-center {
  text-align: center;
}

.cart-btn {
  width: 100%;
  margin: 20px auto 0 auto;
}

.w-100 {
  width: 100%;
}

h3 {
  margin: 0;
}

.select {
  outline: none;
}

.fl-right {
  float: right;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml {
  margin-left: -1px;
}

.mtb {
  margin: 1px 2px;
}

.tail {
  position: relative;
}

.tail::after {
  content: '';
  width: 33px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  right: -83%;
}

.fs-10 {
  font-size: 16px;
  padding: 0 0.5rem;
}

.h-25 {
  height: 30px !important;
}

/* carousel */
.bg-light {
  border: 0;
}

.carousel-item.active {
  display: flex;
}

.carousel-control-prev,
.carousel-control-next {
  color: #1a1a1a;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

.visually-hidden {
  display: none;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
